.player-container {
	display: flex;
	align-items: center;
	width: fit-content;
	margin: 3em 1em 1em 1em;
}

.player-container:hover {
	cursor: pointer;
}

.players {
	font-family: var(--main-font);
	color: var(--text-color);
	font-size: 1.2em;
}

.player-stats-container {
	position: relative;

}

.stats-content-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	border: 3px solid #fdfdfd;
	border-radius: 10px;
	background-color: #361767;
	padding: 1em 0.5em;
	width: 19em;
	left: 0;
	right: 0;
	margin: auto;
}

.player-content-modal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #FDFDFD;
	margin-bottom: 1em;
	padding-bottom: 0.2em;
}

.player-profile {
	display: flex;
	align-items: center;
}

.player-standard-profile {
	background-color: var(--text-color);
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	color: #2e2e2e;
}

.result-profile-modal {
	background-color: var(--text-color);
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	color: #2e2e2e;
}

.player-name {
	font-family: var(--main-font);
	color: var(--text-color);
	font-size: 1.2em;
	margin-left: 0.5em;
}