* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Text */
  --main-font: Lilita One;
  --read-text: Inter;
  --text-color: #FDFDFD;

  /* Button */
  --border: none;
  --background-color-button: #4DC6FF;
  --inner-shadow-button: inset -1px -5px 1px #179bd8;
  --padding-button: 0.5em 1.5em;
  --radius-button: 0.5em;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(20deg,#100149, #8F4CAE);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-link {
  text-decoration: none;
}

.player-arrow-icon {
	margin-left: 0.2em;
	color: #FDFDFD;
	align-self: flex-end;
}