.header-options {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	font-family: var(--main-font);
	color: var(--text-color);
	font-size: 1.2em;
}

.leave-option {
	font-family: var(--main-font);
	color: var(--text-color);
	font-size: 1em;
}

.session-id {
	color: var(--text-color);
	font-family: var(--read-text);
	margin-left: 1em;
}