.rules-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
}

.rules-text:last-child {
	margin-top: 1em;
}

.rules-text {
	max-width: 30em;
	color: var(--text-color);
	font-family: var(--read-text);
	font-size: 1.2em;
}

.start-button--position {
	display: flex;
	justify-content: center;
	margin-top: 4em;
}

.start-button {
	border: none;
	background-color: var(--background-color-button);
	box-shadow: var(--inner-shadow-button);
	color: var(--text-color);
	font-family: var(--main-font);
	padding: var(--padding-button);
	border-radius: var(--radius-button);
	font-size: 2em;
}

.start-button:hover {
	cursor: pointer;
}